.emoji-identifier{
  margin:0px;
  height: 100vh;
  width: 100%;
  text-align: right;
  position:relative;
  float:left;
 
 
  
  color:rgba(255, 255, 255, 0.897)
}

.emoji-identifier-child{


height: 80%;
background-color:white;
width: 50%;
margin-top: 3rem;
border-radius: 30px;

background-color: rgba(0, 0, 0, 0.842);
float:right;
margin-right: 7rem;

}

.emoji-identifier-child-adj{
  
  height: 69%;
  width: 25%;
  border-radius: 30px;
  background-color: rgba(52, 23, 156, 0.842);
  margin-top: 3rem;
  margin-left: 7rem;
  text-align: left;
  padding:40px;
}

input{
  width:80%;
  height:1rem;
  margin:auto;
  border-radius:20px;
  margin: 20px;
  padding:10px;
  font-weight: bold;
  text-align: center;

}

.emoji-identifier-child-child{
  padding-top: 10rem;
 width:80%;
  margin:auto;
  text-align: center;
  /* background-color: blue; */
  
}
